body{
    background-color: silver;
}

h1{
    text-align: center;
    color: brown;
   
}

img{
    
    height: 20%;
    width: 40%;
   
}

.villas{
    text-align: center;
}

.villas2{
    text-align: center;
}